# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs
*.log

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Build (frontend)
frontend/dist

# Uploads (backend)
backend/uploads/

# Editors
.vscode
.idea

backup_scripts/

*.bak
